@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CetStore</h1>
    <p>Do not forget to visit <a href="https://cet.boun.edu.tr">depertmant web site</a>!</p>
</div>
